body {
  background: url(food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  border-radius: 20px;
  background-color: #dcedf7;
}

.button-add {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  border-radius: 20px;
  border: none;
  background-color: #77cf40;
  font-size: 17px;
}

.button-delete {
  font-family: 'Montserrat', sans-serif;
  border: 0;
  background: none;
  font-size: 10px;
  color: red;
  font-weight: bolder;

}

.App {
  display: flex;
  justify-content: space-around;
}

.whole-plan {
  width: 40%;
  height: 100vh;
  }

.myInput {
  width: 80%;
  height: 20px;
  padding: 10px;
  border-radius: 20px;
  display: block;
  margin-top: 30px;
}

textarea {
  display: block;
  border: 1px solid #ddd;
  margin-top: 30px;
  width: 80%;
  height: 200px;
  border-radius: 20px; 
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

.selected {
  background-color: #f0da6b;
}

.default {
  background-color: #dcedf7;
}

p {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;

}

.title {
  font-family: 'Montserrat', sans-serif;
  color: black;
}